#### Listas

In [2]:
alunos = ['Ana','Amanda','Bruno','João']
notas = [10,9,8,7]

In [3]:
# Exibir o primeiro nome da lista alunos
alunos[0]

#Exibir a terceira nota da lista notas
notas [2]

8

In [5]:
# Listas (list) – Acessando itens


# Selecionar uma fatia dos dados ( de Amanda e Bruno)
# colocar o nome da lista [posição_incial : posição_final +1]
alunos[1:3]

['Amanda', 'Bruno']

In [6]:
#Selecionar apenas os nomes Bruno  e João
alunos[2:]

['Bruno', 'João']

In [9]:
#para identificar o tipo de dado
type(notas)

int

In [8]:
#para identificar  a quantidade de elemento
len(notas)

4

In [ ]:
# lista - conversao para string

# para converter uma lista em string, utilizaremos o comando JOIN
#é preciso definir o separador dos elemento, por exemplo "virgula".join(lista)
# para contrario basta usar .split(',')

In [10]:
#criando uma Tupla

valores=(90,79,54,32,21)
pontos=(100,94.05,86.08,62)

print(type(valores))
print(type(pontos))

<class 'tuple'>
<class 'tuple'>

In [11]:
valores[0]=30

TypeError: 'tuple' object does not support item assignment

#### Tuplas (tuple) - Outros exemplos

In [14]:
my_list= [1,2] #criando uma lista
my_tuple = (1,2) # criando uma tupla
# Alterando o elemento de posição 1 da lista
# Listas permitem a sua alteração 
my_list[0] = 10
print(my_list)

# Alterar um elemento de uma tupla
try:
    my_tuple[1]=3
except TypeError:
    print("Não é possivel modificar uma tupla")

    # a tupla é utilizada para criar funções ou parametros fixos

[10, 2]
Não é possivel modificar uma tupla

criando uma função com tuplas

In [15]:
def sum_and_product ( x, y) :
    return(x+y), (x*y)

In [16]:
sum_and_product(10,5)

(15, 50)

Dicionários (dict)

Dict é um tipo de dado muito flexível do Python.
Eles são utilizados para agrupar elementos através da estrutura de chave e valor,
onde a chave é o primeiro elemento seguido por dois pontos e pelo valor.
Vamos ver alguns exemplos:

In [17]:
altura = {
    'Amanda': 1.65,
    'Ana':1.60,
    'João':1.50
}
peso= {
    'Amanda':60,
    'Ana':58,
    'João':100    
}

print(type(altura))
print(type(peso))

<class 'dict'>
<class 'dict'>

In [18]:
# Acessar informações do dicionario
print(altura['Ana'])
print(peso['Ana'])

1.6
58